## save csv

In [1]:
import csv

with open('top_cities.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['rank', 'city', 'population'])
    writer.writerows([
        [1,'상하이',24150000],
        [2, '카라치', 23500000],
        [3, '베이징', 21516000],
        [4, '텐진', 14722100],
        [5, '이스탄불', 14160467],
    ])

## save csv dict

In [2]:
import csv

with open('top_cities.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.DictWriter(f, ['rank', 'city', 'population'])
    writer.writeheader()
    
    writer.writerows([
        {'rank':1, 'city':'상하이', 'population':24150000},
        {'rank':2, 'city':'카라치', 'population':23500000},
        {'rank':3, 'city':'베이징', 'population':21516000},
        {'rank':4, 'city':'텐진', 'population':14722100},
        {'rank':5, 'city':'이스탄불', 'population':14160467},
    ])

## encoding check

In [3]:
import csv

In [4]:
with open('top_cities.csv', 'w', newline='', encoding='utf-8') as f:
    # 첫 번째 매개변수에 파일 객체
    # 두 번째 매개변수에 필드명 리스트를 지정
    writer = csv.DictWriter(f, ['rank', 'city', 'population'])
      # 첫 번째 줄에 헤더를 입력
    writer.writeheader()
    # writerows()로 여러 개의 데이터를 딕셔너리 형태로 작성
    writer.writerows([
        {'rank': 1, 'city': '상하이', 'population': 24150000},
        {'rank': 2, 'city': '카라치', 'population': 23500000},
        {'rank': 3, 'city': '베이징', 'population': 21516000},
        {'rank': 4, 'city': '텐진', 'population': 14722100},
        {'rank': 5, 'city': '이스탄불', 'population': 14160467},
    ])

In [5]:
import chardet

char_dic = chardet.detect(open('top_cities.csv', 'rb').read())

char_dic['encoding']

'utf-8'

## save json

In [6]:
import json

cities = [
    {'rank':1, 'city':'상하이', 'population':24150000},
    {'rank':2, 'city':'카라치', 'population':23500000},
    {'rank':3, 'city':'베이징', 'population':21516000},
    {'rank':4, 'city':'텐진', 'population':14722100},
    {'rank':5, 'city':'이스탄불', 'population':14160467},
]

with open('top_cities.json', 'w') as fw:
    json.dump(cities, fw)

In [7]:
with open('top_cities.json', 'r') as fr:
    json_file = json.load(fr)
    print(json_file)

[{'rank': 1, 'city': '상하이', 'population': 24150000}, {'rank': 2, 'city': '카라치', 'population': 23500000}, {'rank': 3, 'city': '베이징', 'population': 21516000}, {'rank': 4, 'city': '텐진', 'population': 14722100}, {'rank': 5, 'city': '이스탄불', 'population': 14160467}]

## save sql3

In [8]:
import pandas as pd
import sqlite3
from pandas.io import sql
import os

DB_NAME = 'top_cities.db'
TABLE_NAME = 'TOP_CITIES'

def db_save(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            df.to_sql(name = table_name, con = con, index = False,
                     if_exists='append')
        except Exception as e:
            print(str(e))
        print(len(df), '건 저장완료..')

In [9]:
def db_select(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            query = 'SELECT * FROM {}'.format(table_name)
            df = pd.read_sql(query, con=con)
        except Exception as e:
            print(str(e))
            return df

In [10]:
def db_select(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            cur = con.cursor()
            sql = 'DELETE FROM {}'.format(table_name)
            cur.excute(sql)
        except Exception as e:
            print(str(e))

In [11]:
import pandas as pd
import sqlite3
from pandas.io import sql
import os

DB_NAME = 'top_cities.db'
TABLE_NAME = 'TOP_CITIES'

def db_save(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            df.to_sql(name = table_name, con = con, index = False,
                     if_exists='append')
        except Exception as e:
            print(str(e))
        print(len(df), '건 저장완료..')

def db_select(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            query = 'SELECT * FROM {}'.format(table_name)
            df = pd.read_sql(query, con=con)
        except Exception as e:
            print(str(e))
            return df

def db_select(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            cur = con.cursor()
            sql = 'DELETE FROM {}'.format(table_name)
            cur.excute(sql)
        except Exception as e:
            print(str(e))